@import "colors.css";

* {
	border: none;
	border-radius: 0px;
	font-family: JetbrainsMono NFP SemiBold;
	font-size: 10px;
	font-style: normal;
	min-height: 0;
}

window#waybar {
	background: @base;
	color: @text;
}

#clock {
	font-size: 12px;
}

#custom-cli,
#custom-tailscale,
#battery,
#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#custom-notification {
	padding: 0px 10px;
}

/* Style the main tooltip container */
tooltip {
	background: @base;
	border: 2px solid #E2BDCE;
	border-radius: 0px;
	padding: 12px;
	margin: 2px 4px;
}

/* Tooltip text styling */
tooltip label {
	color: #E2E4F0;
	font-size: 13px;
	padding: 4px;
}

/* Specific styling target for clock module tooltips if needed */
#clock label {
	color: #E2E4F0;
}

#workspaces {
	background: @base;
	margin: 0px 0px;
	padding: 8px 5px;
	border-radius: 16px;
	border: solid 0px #eeeeee;
	font-weight: normal;
	font-style: normal;
}

#workspaces button {
	padding: 0px 5px;
	margin: 0px 3px;
	border-radius: 16px;
	color: #1c1f24;
	background-color: #44475a;
	transition: all 0.3s ease-in-out;
}

#workspaces button.active {
	color: #1c1f24;
	background-color: @text;
	border-radius: 16px;
	min-width: 50px;
	background-size: 400% 400%;
	transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
	background-color: #44475a;
	color: #1c1f24;
	border-radius: 16px;
	min-width: 50px;
	background-size: 400% 400%;
}

#custom-cli {
	color: @rose;
}


/* TEST ZONE */

/* Connected state */
#custom-wireguard.connected {
	background-color: #a6da95;
	/* Example connected background */
	color: #24273a;
	/* Optional: Inject your modified SVG icon */
	background-image: url("/home/earn/Downloads/wireguard-active.svg");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 16px;
	padding-left: 30px;
	/* Make room for the SVG */
}

/* Disconnected state */
#custom-wireguard.disconnected {
	background-color: #ed8796;
	/* Example disconnected background */
	color: #24273a;
	/* Optional: Inject your modified SVG icon */
	background-image: url("/home/earn/Downloads/wireguard-inactive.svg");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 16px;
	padding-left: 30px;
	/* Make room for the SVG */
}
