@import "colors.css";

* {
	border: none;
	border-radius: 0;
	font-family: JetBrainsMono Nerd Font;
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background-color: @base;
	color: @text;
}

#workspaces {
	background: #ffffff;
	padding: 10px;
}

#workspaces button {
	background: #123456;
	min-height: 2px;
}
