@import "colors.css";

* {
	font-size: 13px;
	font-weight: bold;
	font-family: JetBrainsMono Nerd Font Mono;
	min-height: 0;
}

window#waybar {
	background: @base;
	color: @text;
}

#disk,
#network,
#battery,
#pulseaudio,
#pulseaudio-slider,
#bluetooth,
#custom-cli,
#custom-tailscale,
#custom-theme,
#idle_inhibitor {
	padding: 0 10px;
	color: @rose;
}

#network {
	margin-right: 10px;
}

#custom-cli {
	margin-left: 10px;
}

#workspaces {
	background: rgba(23, 23, 23, 0.0);
	color: #888789;
	box-shadow: none;
	text-shadow: none;
	border-radius: 9px;
	transition: 0.2s ease;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
}

#workspaces button {
	background: rgba(23, 23, 23, 0.0);
	color: @foam;
	box-shadow: none;
	text-shadow: none;
	border-radius: 9px;
	transition: 0.2s ease;
	padding-left: 4px;
	padding-right: 4px;
	/*   animation: ws_normal 20s ease-in-out 1; */
}

#workspaces button.active {

	/* background-image: url("/home/anik/Documents/bar1.png");*/
	color: @pine;
	transition: all 0.3s ease;
	padding-left: 4px;
	padding-right: 4px;
	/*  transition: all 0.4s cubic-bezier(.55,0.68,.48,1.682); */
}

#workspaces button:hover {
	background: none;
	color: #72D792;
	animation: ws_hover 20s ease-in-out 1;
	transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#bluetooth {
	color: @text;
}

#bluetooth.connected {
	color: @rose;
}

#custom-cli {
	color: @rose;
}

#custom-tailscale.connected {
	color: #ffffff;
}

#custom-tailscale.stopped {
	color: #a6adc8;
}

#custom-screenrecording {
	min-width: 12px;
	font-size: 10px;
}

#custom-screenrecording.active {
	color: #fb4934;
}

#pulseaudio-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	background-image: none;
	border: 0;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-height: 5px;
	min-width: 80px;
	border-radius: 5px;
	opacity: 0;
}

#pulseaudio-slider highlight {
	min-height: 6px;
	min-width: 10px;
	border-radius: 5px;
	background: @rose;
}
