[Desktop Entry]
Version=1.0
Type=Application
Comment=chat-gpt
Name=Chat GPT
Exec=sh -c "brave --app='https://chatgpt.com/'"
Icon=/home/earn/.local/share/icons/chatgpt.png
Terminal=false
Categories=Internet
StartupNotify=true
