[Desktop Entry]
Type=Application
Name=Feedly RSS
Exec=chromium --app=https://feedly.com --ozone-platform=wayland --class=feedly
Icon=feedly
Terminal=false
Categories=Internet
StartupNotify=true
StartupWMClass=feedly
