[Desktop Entry]
Type=Application
Name=Feedly RSS
Exec=brave --app=https://feedly.com --ozone-platform=wayland --class=feedly
Icon=$HOME/.local/share/applications/icons/feedly.png
Terminal=false
Categories=Internet
StartupNotify=true
StartupWMClass=feedly
