[Desktop Entry]
Version=1.0
Type=Application
Comment=Gmail
Name=Gmail
Exec=sh -c "brave --app='http://gmail.com'"
Icon=~/.local/share/applications/icons/gmail.png
Terminal=false
Categories=Internet
StartupNotify=true
