[Desktop Entry]
Type=Application
Name=Google Chat
Exec=sh -c "brave --app='http://chat.google.com/app/home'"
Icon=google-chat
Terminal=false
Categories=Internet
