[Desktop Entry]
Type=Application
Name=Google Calendar
Exec=sh -c "brave --app='http://calendar.google.com'"
Icon=~/.local/share/applications/icons/google-calendar.png
Terminal=false
Categories=Internet
