[Desktop Entry]
Type=Application
Name=Google Calendar
Exec=sh -c "brave --app='http://calendar.google.com'"
Icon=chromium
Terminal=false
Categories=Internet
