[Desktop Entry]
Type=Application
Name=Google Chat
Exec=sh -c "brave --app='http://chat.google.com'"
Icon=/home/philip/.local/share/icons/google-chat.png
Terminal=false
Categories=Internet
