[Desktop Entry]
Version=1.0
Type=Application
Comment=Spotify
Name=Spotify
Exec=sh -c "brave --app='http://spotify.com'"
Icon=/home/philip/.local/share/icons/spotify.png
Terminal=false
Categories=Internet
StartupNotify=true
